@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  width: 100%;
  position: relative;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00b4cc;
  height: 3em;
  border-radius: 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  position: absolute;
  right: -50px;
  width: 3em;
  height: 2.4em;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  text-align: center;
  width: 50%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.todayTransactions h2 {
  text-align: center;
  font-weight: 800;
  padding: 5%;
}
